body {
  color: #434455;
  font-family: "roboto", sans-serif;
  line-height: 24px;
  letter-spacing: 2%;
}

.header-a-title {
  color: #2e2f42;
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 2%;
}
.header-a-web {
  color: #4d5ae5;
}

.header-a {
  color: #2e2f42;
  font-weight: 700;
}

.header-b {
  font-family: "roboto", sans-serif;
  color: #2e2f42;
}

address {
  font-style: normal;
  color: #2e2f42;
}

.section-01 {
  background-color: #2e2f42;
  font-family: roboto;
  font-size: 56px;
}

.section-01-maintitle {
  color: white;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
}

.section-01-button {
  font-family: "roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #4d5ae5;
  color: white;
  line-height: 24px;
  letter-spacing: 4%;
}

.section-01-button:hover {
  background-color: #404bbf;
}

.section-03 {
  font-family: "roboto", sans-serif;
  color: #2e2f42;
}

.section-03 h2 {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
}

.section-03 h3 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2%;
}

footer {
  color: #f4f4fd;
  background-color: #2e2f42;
}

.footer-a-title {
  color: #f4f4fd;
  font-family: "raleway", sans-serif;
}

footer p {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #f4f4fd;
}
